<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/admin/layout}">
<div layout:fragment="content">
    <link rel="stylesheet" th:href="@{/static/css/calendar.css}">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <br>
                <button class="btn" style="font-size: 50px;"> &lt; </button> <!-- dâú trái -->
                <br>
            </div>
            <div class="col">
                <div class="container-fluid text-center">
                    <br>
                    <br>
                    <span class="h2" th:text="${tableModel.getYear()}"></span><span class="h3">,</span> <span class="h3"
                        th:text="${tableModel.getMonthString()}"></span>
                </div>
            </div>
            <div class="col">
                <br>
                <button class="btn" style="float: right;font-size: 50px"> &gt; </button> <!-- dâú phải -->
                <br>
            </div>
        </div>



    </div>

    <body>
        <table>
            <tr th:each = "Weeks : ${tableModel.getListWeeks()}">
                <thread>
                    <th:block>
                    <td th:each = "Days : ${Weeks}">
                        <div th:if = "${Days.getDay()} != 0" th:text = "${Days.getDay()}"></div>
                        <div th:if = "${Days.getDay()} != 0" th:each = "planModels : ${Days.getPlanModels()}">
                            <div th:text = "${tableModel.getLocationNameById(planModels.getLocationId()) } + ' ' + ${planModels.getBeginTime()}+ '-' + ${planModels.getEndTime()}"></div>
                        </div>
                    </td>
                    </th:block>
                </thread>
            </tr>
        </table>
    </body>

    </div>

    <script th:src="@{/static/js/jquery-3.5.1.min.js}"></script>
</html>