<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/admin/layout}">

<head>
    <meta charset="utf-8" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../../../static/css/bootstrap.css">
</head>

<body>
    <div layout:fragment="content">
        <!-- <div>Dashboard here</div> -->
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
        </div>

        <h2>Hello, <span class="name" th:text="${#authentication.principal.userInfo.fullName}"></span>!</h2>

        <!-- </div> -->
</body>

</html>