<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/admin/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../static/css/bootstrap.css">
    <title>Register</title>
</head>

<body>
    <div layout:fragment="content">
        <form method="GET" th:action="@{/confirm}">
            <div class="form-group text-center h3" style="padding-top: 0.5rem"> Register </div>
            <div th:if="${(param.error != null) and (param.error[0] == 'true')}" class="form-group alert-warning">Email
                already exist</div>
            <div class="form-group">
                <input type="email" class="form-control" name="regEmail" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="regPassword" placeholder="Password" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="regName" placeholder="FullName">
            </div>

            <div class="form-group">
                <select name="regRole" class="custom-select">
                    <option th:each="accountInfos : ${accountInfos}" th:text="${accountInfos.getRoleName()}"
                        th:value="${accountInfos.getRoleName()}"></option>
                </select>
            </div>
            <div class="form-group" style="text-align:center">
                <button type="submit" class="btn btn-primary">Next</button>
            </div>
        </form>

    </div>

</body>

</html>